#skip__buttons-container {
    --buttons-container-width: 100%;
    --buttons-container-height: 37%;
    width: var(--buttons-container-width);
    height: var(--buttons-container-height);
}

#skip__buttons-container > * {
    width: var(--buttons-container-height);
    height: var(--buttons-container-width);
}

#skip__unlock-next-level-coins-button.button-enabled {
    background-color: #ffcf21;
}

#skip__unlock-next-level-coins-button.button-disabled {
    background-color: #969696;
}