.screen__anchor--center {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.screen_view {
    height: 85%;
}

.modal-view-close-button {
    position: absolute;
    top: 0;
    right: 0;
    flex-grow: 1;
}
