.star {
    background-image: url("project://database/Assets/UI/Textures/Common/Star_Grey.png");
}

.star-active {
    background-image: url("project://database/Assets/UI/Textures/Common/Star_Yellow_With_Grey_Background.png");
}