#daily-reward-day-template__status-label {
    background-color: rgb(237, 218, 142);
    border-color: #000;
}

.collected #daily-reward-day-template__status-label {
    background-color: rgb(17, 171, 0);
    border-color: #000;
}


.day-1-6 #daily-reward-day-template__secondary-rewards-container {
    display: none;
}

.day-7 #daily-reward-day-template__reward-value-label {
    display: none;
}


/* Change the background color of the button based on if it's a day 1-6 or day 7 button */
.day-1-6 #daily-reward-day-template__button-container {
    background-color: rgb(149, 149, 149);
}

.day-7 #daily-reward-day-template__button-container {
    background-color: rgb(255, 210, 31);
}

/* If the button is active (can be clicked), add an hover effect */
.day-1-6 #daily-reward-day-template__button-container.button-active:hover {
    background-color: rgb(130, 130, 130);
}

.day-7 #daily-reward-day-template__button-container.button-active:hover {
    background-color: rgb(186, 154, 24);
}